In [22]:
#Import dependencies
import pandas as pd
import os

#set location of the folder with the CSV files
csvpath = os.path.join('..', 'data')

In [5]:
#list of tables by name
table_list = [
            'departments.csv'
            ,'dept_emp.csv'
            ,'dept_manager.csv'
            ,'employees.csv'
            ,'salaries.csv'
            ,'titles.csv'
            ]

In [58]:
#create list of table names for the db

table_names = []
for i in range(len(table_list)):
    table_names.append(table_list[i][:len(table_list[i])-4]) #strips last four chars, i.e., the file extension

In [59]:
print(table_names)

['departments', 'dept_emp', 'dept_manager', 'employees', 'salaries', 'titles']

In [72]:
#load csv tables into dataframes
for i in range(len(table_list)):
    filepath = os.path.join(csvpath, table_list[i])
    dataframe = table_names[i]
    print(dataframe)
#     dataframe = pd.read_csv(filepath)

  dept_no           dept_name
0    d001           Marketing
1    d002             Finance
2    d003     Human Resources
3    d004          Production
4    d005         Development
5    d006  Quality Management
6    d007               Sales
7    d008            Research
8    d009    Customer Service
        emp_no dept_no
0        10001    d005
1        10002    d007
2        10003    d004
3        10004    d004
4        10005    d003
...        ...     ...
331598  499995    d004
331599  499996    d004
331600  499997    d005
331601  499998    d002
331602  499999    d004

[331603 rows x 2 columns]
   dept_no  emp_no
0     d001  110022
1     d001  110039
2     d002  110085
3     d002  110114
4     d003  110183
5     d003  110228
6     d004  110303
7     d004  110344
8     d004  110386
9     d004  110420
10    d005  110511
11    d005  110567
12    d006  110725
13    d006  110765
14    d006  110800
15    d006  110854
16    d007  111035
17    d007  111133
18    d008  111400
19    d008  111534
20    d009  111692
21    d009  111784
22    d009  111877
23    d009  111939
        emp_no emp_title_id  birth_date   first_name  last_name sex  \
0       473302        s0001   7/25/1953     Hideyuki   Zallocco   M
1       475053        e0002  11/18/1954        Byong  Delgrande   F
2        57444        e0002   1/30/1958        Berry       Babb   F
3       421786        s0001   9/28/1957        Xiong   Verhoeff   M
4       282238        e0003  10/28/1952   Abdelkader    Baumann   F
...        ...          ...         ...          ...        ...  ..
300019  464231        s0001   8/14/1958  Constantino    Eastman   M
300020  255832        e0002    5/8/1955       Yuping     Dayang   F
300021   76671        s0001    6/9/1959       Ortrud   Plessier   M
300022  264920        s0001   9/22/1959        Percy   Samarati   F
300023  464503        s0002   5/31/1964       Arvind  Slobodova   M

         hire_date
0        4/28/1990
1         9/7/1991
2        3/21/1992
3       11/26/1987
4        1/18/1991
...            ...
300019  10/28/1988
300020   2/26/1995
300021   2/24/1988
300022    9/8/1994
300023  11/23/1987

[300024 rows x 7 columns]
        emp_no  salary
0        10001   60117
1        10002   65828
2        10003   40006
3        10004   40054
4        10005   78228
...        ...     ...
300019  499995   40000
300020  499996   58058
300021  499997   49597
300022  499998   40000
300023  499999   63707

[300024 rows x 2 columns]
  title_id               title
0    s0001               Staff
1    s0002        Senior Staff
2    e0001  Assistant Engineer
3    e0002            Engineer
4    e0003     Senior Engineer
5    e0004    Technique Leader
6    m0001             Manager

In [77]:
table_names[3].head()

   emp_no emp_title_id  birth_date  first_name  last_name sex   hire_date
0  473302        s0001   7/25/1953    Hideyuki   Zallocco   M   4/28/1990
1  475053        e0002  11/18/1954       Byong  Delgrande   F    9/7/1991
2   57444        e0002   1/30/1958       Berry       Babb   F   3/21/1992
3  421786        s0001   9/28/1957       Xiong   Verhoeff   M  11/26/1987
4  282238        e0003  10/28/1952  Abdelkader    Baumann   F   1/18/1991

In [71]:
dept_emp

NameError: name 'dept_emp' is not defined

In [47]:
dept_emp.head()

NameError: name 'dept_emp' is not defined